	table{
		margin-left: auto;
		margin-right:auto;
	}
	body{
		background-color: #244b35;
	}
	a{
		color: #f3c04d;
		text-decoration: none;
	}
	td{
		font-size: 32px;
/*		color: rgb(0, 0, 0);*/
		color: #f3c04d;
		/*display: block;*/
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: bold;
		letter-spacing: -1px;
		}
	td.right{
		text-align: right;
	}
	td.left{
		padding-left: .25em;
	}
	.fhead{
		margin-top:100pt;
		text-align:center;
		font-size: 120px;
/*		color: rgb(0, 0, 0);*/
		color: #f3c04d;
		display: block;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: bold;
		letter-spacing: -1px;
		}
	.fbody{
		text-align:center;
		font-size: 32px;
/*		color: rgb(0, 0, 0);*/
		color: #f3c04d;
		display: block;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: bold;
		letter-spacing: -1px;
		}
	h1 {
		display:none;font-size: 32px;
	}
